/* div.container.press-over-view {
    color: green,
} */


/*with a grid*/
nav{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  /* grid-auto-rows: minmax(10px, auto); */
}

nav > div {
  color: red;
  /* grid-column: 1;
  grid-row: 1; */
}

nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* flex-flow: row wrap; */
}

nav > div {
  color: red;
  flex-grow: 1;
  /* grid-column: 1;
  grid-row: 1; */
}

nav > div, div.press-over-view, div.press-selected {
  border-width: 1px;
  border-style: solid;
  border-color: red;
}

div.press {
  display: flex;
  
}
div.press-over-view {
  padding: 10%;
}
div.press-selected {
  padding: 30%;
}



